# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
# package-lock.json # 팀원들과 의존성 버전 통일을 위해 주석 처리 또는 삭제를 권장합니다.
yarn.lock
pnpm-lock.yaml

# TypeScript build output
dist/
build/
out/

# 테스트 관련
coverage/

# 환경 변수 & 설정 파일
.env
.env.*
!.env.example

# OS / IDE 별 파일
.DS_Store
Thumbs.db
.vscode/
.idea/
*.mp4
# Logs
logs/
*.log
*.log.*
database.sqlite
uploads/
media/
