<!-- 회원가입 폼 예시 -->
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>회원가입</title>
</head>
<body>
  <h1>회원가입</h1>
  <form action="/users/regist" method="POST">
    <label for="email">이메일:</label>
    <input type="email" id="email" name="email" required /><br />

    <label for="password">비밀번호:</label>
    <input type="password" id="password" name="password" required /><br />

    <label for="name">이름:</label>
    <input type="text" id="name" name="name" /><br />

    <button type="submit">가입하기</button>
  </form>
</body>
</html>